body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.my-name-color{
    color: coral;
}
section{
    display: flex;
    margin-bottom: 130px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 130px;
}
.half-width{
    width: 50%;
    height: 100%;
    padding-left: 7%;
}
.half-width img{
    width:58%;
}
.button{
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-color: coral;
    padding:7px 15px ;
    border-radius: 10px;
    background-image: linear-gradient(coral, rgb(243, 132, 6))
}
.second-banner{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right ;
}